ninja
transformers @ git+https://github.com/huggingface/transformers
runpod @ git+https://github.com/winglian/runpod-python.git@fix-generator-check
auto-gptq @ git+https://github.com/PanQiWei/AutoGPTQ.git@v0.4.2